<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlayerAPI" parallel="methods" thread-count="3">
    <test name="PlayerAPITests">
        <classes>
            <class name="api.PlayerControllerTests"/>
        </classes>
    </test>
</suite>